<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        <%= pageTitle %>
    </title>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li class="main-header__item">
                    <a class="<%= path === '/home' ? 'active' : '' %>" href="/">Shop</a>
                        <a class="<%= path === '/pockemon' ? 'active' : '' %>" href="/pokemon/1">Pockemon</a>
                        <a class="<%= path === '/pr10' ? 'active' : '' %>" href="/pr10">Pr10</a>
                </li>
            </ul>
        </nav>
    </header>

    <main>
        <div>
            <div>
                <h1>Welcome to the Pokemon Activity</h1>
            </div>
            <div>
                <a href="/pokemon/1">Go to Activity</a>
            </div>
        </div>
    </main>

    <script src="/js/main.js"></script>
</body>

</html>